<mat-sidenav-container  class="sidenav-container"  >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      [autoFocus]="true"
      mt="4"
      >
 <div  class="logo" ><img src="assets/logo.svg" width="125px" height="30px" alt="logo"></div>
    <mat-nav-list class="navlinks d-flex flex-column justify-content-between" >
      <div class= "justify-content-start" >
        <div *ngFor="let link of sidebarLinks" class="link">
        <span>
          <img src={{link.icon}} >
        </span>
        <a  routerLink={{link.route}} >{{link.title}}</a>
        </div>
<!--        <a mat-list-item routerLink="/employees">Employees</a>-->
<!--        <a mat-list-item routerLink="/payments" >Payments</a>-->
      </div>
      <div class="link" style="cursor: pointer">
      <img src="assets/login-icon.svg" >
      <a  (click)="logout()">Logout</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: #F5F5FA">

    <mat-toolbar sticky="true" class="nav d-flex justify-content-between mat-elevation-z2 shadow-sm" style="background-color: #fff">
    <div>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </div>
<!--      <div style="display: flex;align-items: center; justify-content: space-between"><mat-slide-toggle [formControl]="toggleControl" >-->
<!--        </mat-slide-toggle>-->
      <avatar ></avatar>
<!--      </div>-->
    </mat-toolbar>
<!--to do height not increasing auto-->
    <div style="margin-left: 20px; margin-right: 20px; margin-top: 20px; height:auto ">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
