.container {
  background-color: #f3f7f9;
}
.sidenav-container {
  height: 100%;
}
.navlinks {
  height: 90%;
  padding-top: 50px;
}

.logo{
height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav {
  width: 150px;
  padding-top: 0;
  background-color:#0f172a;


  .link {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 20px;


    &:hover {
      border-left: solid 3px #C28221;
    }
    &:focus {
      font-weight: 700;
    }

    a{
      color: #ffffff;
      padding-left: 16px;
      font-size: .9rem;


    }


  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container {
  min-height: 100vh;
  background-color: #f7f9fc;
}
